/* index page css */
.like{
    display:flex;
    justify-content:center;
    gap:10px;
}
.profilepicture{
    border: none;
    border-radius: 50%; 
    /* this is not working i gave bootstrap class for this rounded image which is rounded-circle z-depth-2 */
    height: 150px;
    object-fit:cover;
    width: 150px;
}
.boxme{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.sidebarscroll::-webkit-scrollbar {
    display: none;
  }
.title{
    color:rgb(63, 192, 231);
}
.conflu{
    width:80%;
}