/* index page css */
.like{
    display:flex;
    justify-content:center;
    gap:10px;
}
.profilepicture{
    border: none;
    border-radius: 50%;
    height: 150px;
    object-fit:cover;
    width: 150px;
}
.boxme{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}