<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title> Blog App</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-dark shadow ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"> <span style="color:aqua;">BLOG</span> APP </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-left:350px">
            <span style="color:aqua;"> Welcome <span style="text-transform:uppercase;">{{user.username}}</span></span>
          </li>
        </ul>
        <form class="d-flex justify-content-evenly" role="search" style="padding:10px;">
          <div class="" style="display:flex;justify-content:space-evenly;gap:10px;">
            <button class="btn btn-sm btn-info"><a href="{%url 'profile' %}" class="text-white"
                style="text-decoration:none ;">Profile</a></button>
            <div class="d-flex">
              <form method="get" action="{% url 'index' %}">
                <input class="form-control me-2" type="search" name="search"  placeholder="Search Blog"
                  aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
            <div class="" style="display:flex;gap:5px;">
              <button class="btn btn-info"><a class="nav-link active text-white  " aria-current="page"
                  href="{% url 'logout-user' %}">logout</a> </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>


  {% block content%}
  {% endblock %}

  <footer class="bg-dark  mt-5" style=" position: fixed;bottom: 0;width: 100%;">
    <p class="text-center text-white mt-1">All rights reserved BlogApp &#169;binayak</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>