{% extends 'blog/base.html' %}
{%load static %}

{% block content %}
<div class="container mt-5">
    <center>
        <h1>Blogs Based On My Interest</h1>
        <button class="btn btn-sm btn-info ">
            <a href="{%url 'add-blog' %}" class="text-white" style="text-decoration:none;">Add Blog</a>
        </button>
    </center>
    
    <div class="row ">
        {% for Blog in posts %}
            <div class="col-4 mt-3 mb-5">
                <div class="card shadow" style="width: 20rem;">
                    {% if Blog.image %}
                    <img src="{{ Blog.image.url }}" class="card-img-top" alt="..." height="200" width="200" style="object-fit:cover;padding:10px;">
                    {% endif %}
                    <div class="card-body" style="padding:10px;">
                    <h5 class="card-title" style="text-transform:uppercase;color:rgb(63, 192, 231);">"{{Blog.title}}"</h5> <hr>
                    <p class="card-text">{{ Blog.content|truncatechars:100 }}</p> <hr>
                   <div class="d-flex justify-content-end">
                    <em><small>By:'{{Blog.author}}'' on {{Blog.created_at}}</small></em><br>
                   </div>
                    <div class="like" style="gap:30px;">
                        <span><i class="fa-regular fa-thumbs-up fa-xl mt-3"></i></span>
                        <a href="{%url 'detail-view' %}" class="btn btn-sm btn-primary">Read More</a>
                        <a href="#" class="btn btn-sm btn-outline-success">comment</a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}